@keyframes lights_on {
  0% {fill: #ffc}
  10% {fill: #597A9C}
  20% {fill: #ffc}
  40% {fill: #597A9C}
  80% {fill: #ffc}
  90% {fill: #597A9C}
  100% {fill: #ffc}
}

@keyframes blast_off {
  0% {transform: translateX(-50.25%)}
  10% {transform: translateX(-49.5%)}
  20% {transform: translateX(-50.75%)}
  30% {transform: translateX(-49.75%)}
  40% {transform: translateX(-50.5%)}
  50% {transform: translateX(-50%)}
  60% {transform: translateX(-49.5%)}
  70% {transform: translateX(-49.75%)}
  80% {transform: translateX(-50.75%)}
  90% {transform: translateX(-49.25%)}
  100% {transform: translateX(-50%)}
}

@keyframes rocket_blast {
  from {bottom: -100%}
  to {bottom: 100%}
}

.fun_panel {
  @include box(225px, 4.5rem auto 0 auto, $n, 257px);
  transition: all .5s ease;
  @include media('med') {
    margin-top: 10rem;
  }
}

.funtrols {
  @include position(relative, $z: 10);
  @include flex(row, wrap, space-around);
  @include box(100%, 3rem 0 0 0, 0);
  li {
    list-style: none;
    @include box(80px, .5rem 0, 0, 80px);
    @include borders(solid 2px $bdr_light, .5rem);
    transition: all .5s ease;
    cursor: default;
    svg {
      @include box(40px, .5rem 0 0 0, 0);
      .fil0 {
        fill: #fff;
        transition: all .5s ease;
      }
    }
    .ufo_svg {
      @include box(50px, 1.2rem 0 .65rem 0);
    }
    .blast_svg {
      @include box(47px, .8rem 0 .1rem 0);
    }
    h4 {
      @extend %lalezar_font;
      @include fonts(1.5rem, $text_light, $n, 400);
      @include box($n, 0, 0);
    }
    &:hover {
      background: $icon_mid;
      border-color: $icon_mid;

    }
    &:hover .fil0,
    &:hover h4 {
      fill: $icon_dark;
      color: $icon_dark;
    }
  }
}

.fun_tips {
  @include box(100%, -1.25rem auto, 0, 1rem);
  p {
    @include fonts(1rem, $text_light, center, bold);
  }
}

.lights_on {
  animation: lights_on 2s linear forwards;
}

.funtrols_svgs {
  @include box(550px, 0, 0);
  @include position(absolute, $b: 0);
  transform: translateX(-50%);
  margin-left: 50%;
  z-index: 3;

}

.speech_on {
  @include box(150px, 0, 0, 85px);
  @include position($n, -100%, 250px);
  transition: all .3s ease;
  @extend %speech;
  p {
    @extend %speech_text;
  }
}

.speech_on_mid {
  @include position($n, -100%, 450px);
  opacity: 0;
  @include media('med') {
    opacity: 1;
  }
}

.speech_on_right {
  @include position($n, -100%, 610px);
  opacity: 0;
  @include media('lg') {
    opacity: 1;
  }
}

.speech_off {
  @include box(150px, 0, 0, 85px);
  @include position($n, 100%, 250px);
  transition: all .3s ease;
  @extend %speech;
  p {
    @extend %speech_text;
  }
}

.speech_off_mid {
  @include position($n, -100%, 450px);
  opacity: 0;
  @include media('med') {
    opacity: 1;
  }
}

.speech_off_right {
  @include position($n, -100%, 610px);
  opacity: 0;
  @include media('lg') {
    opacity: 1;
  }
}

.ufo_date {
  @include box(170px, 0, 0, 70px);
  @include position($n, 100%, 225px);
  transition: all .3s ease;
  @extend %speech;
  p {
    @extend %speech_text;
    font-size: 1.5rem;
  }
}



#fun_close {
  @extend %lalezar_font;
  @include position(relative, 0, 60px);
  @include fonts(1rem, $text_light);
  cursor: pointer;
  visibility: collapse;
  transform: translateX(-50%);
  margin-left: 50%;
  &:hover {
    color: $text_dark;
  }
}

.blast_off {
  animation: blast_off .6s 7 cubic-bezier(.36,.07,.19,.97) both;
}

.rocket_blast {
  animation: rocket_blast 4.5s cubic-bezier(.07,.59,.94,.29) forwards;
}

.rocket {
  @include box(50px, 0, 0, 250px);
  transform: translateX(-50%);
  margin-left: 50%;
  @include position(absolute, $l: -55px, $b: -100%, $z: 2);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ufo_swoop {
  @include position(absolute, $b: 0, $z: 4);
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all 1.4s ease;
}

.ufo {
  @include box(125px, 0, 0, 125px);
  @include position(absolute, $b: 350px, $l: -145px, $z: 5);
  transition: all 2s ease;
  // @include media('med') {
  //   bottom: 600px;
  //   left: -300px;
  // }
  svg {
    @include box(125px, 0, 0, 125px);
    opacity: 0;
    transition: all .25s ease;
    #beam {
      opacity: 0;
      transition: all .8s ease;
    }
  }
}

#dude {
  opacity: 0;
  @include position(absolute, 110px, 0, $z: 4);
  transition: all 1s ease;
  .fil1a {fill:#000066}
}

.ufo_swoop_swing {
  transform: translate(50%, 315px);
  // @include media('med') {
  //   transform: translate(50%, 565px);
  // }
  // @include media('xl') {
  //   transform: translate(50%, 565px);
  // }
}

.ufo_swing {
  transform: translateX(160px);
  // @include media('xl') {
  //   transform: translateX(315px);
  // }
  svg {
    opacity: 1;
  }
}
