%passion_font {
  font-family: 'Passion One', sans-serif;
}

%lalezar_font {
  font-family: 'Lalezar', sans-serif;
}

%anchor_prop {
  text-decoration: none;
  @include fonts(2rem, $text_light);
  padding: .7rem 1.5rem;
}

%btn {
  border: solid 2px $bdr_light;
  overflow: hidden;
  position: relative;
  @include box($n, 1rem auto, .5rem 0);
  .btn_in {
    @include position(absolute, 0, 0, 0, 0, -1);
    background: $btn_light;
    @include box($n, $n, .5rem 0);
    transform: translateX(-100%);
    transition: transform .4s ease;
  }
  .btn_link {
    @extend %passion_font;
    text-decoration: none;
    @include position(absolute, 0, 0, 0, 0, 1);
    transition: all .4s ease;
    white-space: nowrap;
  }
  &:hover .btn_in {
    transform: translateX(0);
  }
  &:hover .btn_link {
    color: $text_dark;
  }
}

%p {
  @include fonts(1rem, $text_light, center);
  @include box(80%, .5rem auto);
  @include media('med') {
    font-size: 1.375rem;
  }
}

%p_dark {
  @extend %p;
  color: $text_dark;
  @include media('med') {
    font-size: 2rem;
  }
}

%h2 {
  @extend %lalezar_font;
  @include fonts(3rem, $text_dark, center);
  @include box($n, 0, 30% 0 .5rem 0);
  @include media('sm') {
    font-size: 4.5rem;
    padding-top: 12.5%;
  }
  @include media('med') {
    font-size: 7rem;
    padding-top: 15%;
  }
  @include media('lg') {
    padding-top: 4%;
  }
  @include media('xl') {
    padding-top: 8%;
  }
}

%overlay {
  @include position(absolute, 0, 0, 0, 0, 2);
  background: $folio_dark;
  transition: all .4s ease-in-out;
}

%fixed {
  @include position(fixed, 0, 0, 0, 0, 0);
  @include box(100vw, 0, 0, 100vh);
  overflow: hidden;
}

%speech {
	position: absolute;
	background: $icon_light;
	border-radius: .4em;
  &:after {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 70%;
  	width: 0;
  	height: 0;
  	border: 1.75em solid transparent;
  	border-top-color: $icon_light;
  	border-bottom: 0;
  	border-right: 0;
  	margin-left: -0.875em;
  	margin-bottom: -1.75em;
  }
}

%speech_text {
  @extend %lalezar_font;
  @include fonts(2rem, $text_dark, center);
  margin: .5rem 0
}
