//========= COLORS ==========

$gradient_dark: #039;
$gradient_light: #7aa0ff;
$folio_light: #c688ef;
$about_light: red;
$nav_light: #7aa0ff;
$nav_dark: rgba(0, 0, 85, .9);
$text_mid: #ffc;
$text_dark: #005;
$text_light: #fff;
$bdr_light: #fff;
$scroll_dark: #039;
$scroll_light: #7aa0ff;
$btn_light: #fff;


//========= MEDIA QUERIES ==========

$break-s: '(min-width: 468px)';
$break-m: '(min-width: 768px)';
$break-l: '(min-width: 1024px)';
$break-xl: '(min-width: 1550px)';



//========= MISC =============

$n: null;
