//========= COLORS ==========

$gradient_dark: #039;
$gradient_light: #7aa0ff;
$folio_light: #c688ef;
$about_light: #d4eefc;
$nav_light: #7aa0ff;
$nav_mid: rgba(0, 0, 85, .7);
$nav_dark: rgba(0, 0, 85, .9);
$text_mid: #ffc;
$text_dark: #005;
$text_light: #fff;
$bdr_light: #fff;
$bdr_dark: #005;
$scroll_dark: #039;
$scroll_light: #7aa0ff;
$btn_light: #fff;
$folio_light: #fff;
$folio_dark: rgba(0, 0, 85, .7);
$folio_mid: #7aa0ff;
$icon_light: #fff;
$icon_mid: #b5edfc;
$icon_dark: #039;
$carl_mid: #b5edfc;
$footer_dark: #005;
$footer_mid: #d4eefc;
$footer_light: #fff;


//========= MEDIA QUERIES ==========

$break-s: '(min-width: 468px)';
$break-m: '(min-width: 768px)';
$break-l: '(min-width: 1024px)';
$break-xl: '(min-width: 1268px)';
$break-xxl: '(min-width: 1550px)';



//========= MISC =============

$n: null;
