#about {
  background: $about_light;
}

.about_box {
  @include box(100%, 0, 0, 100vw);
  h2 {
    @extend %h2;
  }
  p {
    @extend %p_dark;
  }
  &:hover .about_over {
    background: rgba(0, 0, 85, .58);
  }
}

.about_over {
  @extend %overlay;
  h3 {
    color: white;
  }
  p {
    @include fonts(1rem, $text_light, left);
    @include box(80%, 1rem 0 0 5%);
  }
}

.about_pic {
  // height: 200vw;
  position: relative;
  background-size: cover;
}
