#portfolio {
  background: $folio_light;
  ul {
    @include flex(column);
    @include box(100%, 0, 0);
  }
}

.proj {
  @include box(100%, 0, 0, 100vw);
  overflow: hidden;
  background-size: cover;
  position: relative;
  &:hover .overlay {
    background: rgba(0, 0, 85, .58);
  }
  h2 {
    @extend %h2;
  }
}

.folio_p {
  @extend %p_dark;
}

.overlay {
  @extend %overlay;
  svg {
    @include box(20%, 1.25rem 40% 0 40%, 0);
    fill: $folio_light;
    transition: all .5s ease-in-out;
  }
  h3 {
    @extend %lalezar_font;
    @include fonts(2rem, $text_light, center);
    @include box($n, .5rem 0, 0);
  }
  p {
    @extend %p;
  }
}

// .dir {
//   background-image: url(../img/dir.png);
// }
//
// .video {
//   background-image: url(../img/video.png);
// }
//
// .dash {
//   background-image: url(../img/dash.png);
// }

.form {
  // background-image: url(../img/form.png);
  svg {
    @include box(12.5%, 2.25rem 42.5% 0 42.5%, 0);
  }
}

// .gallery {
//   background-image: url(../img/gallery.png);
// }
